/* 
Colors:
#222831
#2D4059
#FF5722
#EEEEEE
*/

.abouttxt {
    color: #EEEEEE;
    text-align: center;
}


.membercontainer {
    padding: 0 10px 30px 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit ,minmax(24%,1fr));
    grid-gap: .5rem 1rem;
}

.memberitem {
    display: grid;
    grid-template-rows: auto 1fr;
    border-radius: 1rem;
    transition: 1s ease-in-out;
    min-width: 24%;
    height: auto;
    background-color: #EEEEEE;
    text-align: center;
}

ul {
    list-style-type: none;
}

.memberitem img{
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 1rem 1rem 0 0;
}

@media (min-width:300px) {

}

@media (min-width:750px) {
    
}

@media (min-width:1024px) {
    
}

@media (min-width:11px) {
    
}