.QNAresources {
    color: #EEEEEE;
    text-align: center;
}

.QNAresources button {
    color: white;
    background-color: #FF5722;
    border: none;
    padding: .5rem .5rem;
    border-radius: .25rem;
    margin: 1rem;
}

.btnlink {
    color: white;
}

input[type=text], input[type=number], textarea {
    width: 95%; /*sets form to take up whole page*/
    padding: .625rem; /*sets padding around the text in each submission box*/
    border: .063rem solid #ccc; 
    border-radius: .25rem; 
    margin-top: .375rem; 
    margin-bottom: 1rem; 
    resize: vertical /*Allows for resizing of text area vertically*/
  }
  
  input[type=submit] { /*styling code for submit button*/
    background-color: #222831;
    color: white;
    padding: .75rem 1.25rem;
    border: none;
    border-radius: .25rem;
    cursor: pointer; /*changes cursor to pointer when interacting*/
  }
  
  input[type=submit]:hover {
    background-color: #2D4059; /*changes the color of submit button when hovered over*/
  }
  
  .contactcontainer { /*container for whole form*/
    border-radius: .625rem;
    background-color: #f2f2f2;
    padding: 1.25rem;
    width: 50%;
    margin: auto;
  }

  
  @media (max-width:600px) {
     .contactcontainer {
        width: 85%;
     }
  }
