*{
    padding: 0;
    margin: 0;
  }

body{
    background-color: #222831;
}


/* navigation bar */
nav{
    display: grid;
    background-color: #2D4059;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 12vh;
    width: 100%;
}

a {
    text-decoration: none;
}
.menu a{
    color: #EEEEEE; 
    align-items: center;  
    padding: 10px; 
    transition:0.7s all ease;
}

.menu a:hover{
    color:#FF5722;
}

.menu{
    justify-self: end;
    padding-right: 25px;
    align-self: center;
    justify-content: flex-end;
    font-size: 1.25rem;
}

.logo{
    margin: 25px;
   
}

.logo a{
    color: #FF5722;
    align-items: center;
    font-size: 1.5rem;
    transition:0.5s all ease;

}

.logo a:hover{
    opacity: 0.7;
}


/* footer */
footer{
    background-color: #2D4059;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: auto;
    height: 12vh;
}

 a.fa{
    padding: 20px;
    font-size: 0.938rem;
    width: 0.938rem;
    text-align: center;
    text-decoration: none;
    margin: 5px 10px;
    border-radius: 75%;
    background: #FF5722;
    color: white;
    transition:0.5s all ease;
}

.fa:hover {
    background-color: white;
    color: #2D4059;
    transform: scale(1.1);
}

/* media queries */
@media screen and (min-width: 390px){
   .logo a{
        font-size: 0.8rem;
   }
   .menu{
        font-size: 0.8rem;
   }
   a.fa{
        font-size: 0.7rem;
        width: 0.7rem;
   }
}

@media screen and (min-width: 480px){
    .logo a{
        font-size: 1.5rem;
    }
    .menu{
        font-size: 0.8rem;
    }
    a.fa{
        font-size: 0.9rem;
        width: 0.9rem;
    }
}


@media screen and (min-width: 1250px){
    .logo a{
        font-size: 1.7rem;
   }
   .menu{
        font-size: 1.5rem;
   }
}
