
/* This styles the three boxes that have the visual effects */
.box {
    display: flex;
    background-color: lightblue;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    
  }

  .circle {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    padding: 5%;
  }

  .text {
    text-align: center;
    margin-top: 75px;
    color: rgb(45, 54, 89);
  }
  
  .content {
    display: flex;
    opacity: 0;
    width: 100%;
    height: 50%;
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  .box1 {
    border: 1px solid black;
    padding: 10px;
    box-shadow: 5px 10px 18px rgb(255, 88, 37);
  }
  .box2 {
    border: 1px solid black;
    padding: 10px;
    box-shadow: 5px 10px 18px rgb(255, 88, 37);
  }
  .box3 {
    border: 1px solid black;
    padding: 10px;
    box-shadow: 5px 10px 18px rgb(255,88,37);
  }
  
  .box:hover .content {
    opacity: 1;
    transition: opacity 0.5s;
  }


  /* thes set of codes will be for the two images */

  .image-box {
    width: 500px;
    height: 225px;
    border: 5px solid black;
    padding: 10px;
    margin: 20px;
  }

  .image-box1 {
    width: 550px;
    height: 250px;
    border: 5px solid black;
    padding: 10px;
    margin: 20px;
  }
  .container2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 60vh;
  }
  .container3 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 40vh;
  }
  img {
    width: 100%;
    height: 100%;
  }
  /* These will be the formating for the words */

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h2 {
    font-family: Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
    color:rgb(255, 88, 37);
    margin-top: 50px;
  }
  p {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: white;
    line-height: 1.5;
    text-align: justify;
    width: 50%;
  }

/* Mobile devices with a maximum screen width of 600 pixels */
@media only screen and (max-width: 600px) {
    /* Styles for mobile phones */
    .box {
    width: 200px;
    height: 200px;
    }
    
    .circle {
    margin-top: 5%;
    padding: 2%;
    }
    
    .text {
    margin-top: 50px;
    font-size: 24px;
    }
    
    .content {
    font-size: 16px;
    padding: 5px;
    }
    
    .box1, .box2, .box3 {
    width: 25%;
    padding: 5px;
    box-shadow: 3px 6px 12px rgb(255, 88, 37);
    }
    
    .image-box {
    width: 50%;
    height: auto;
    margin: 10px 0;
    }
    
    .image-box1 {
    width: 50%;
    height: auto;
    margin: 10px 0;
    }
    
    h2 {
    font-size: 28px;
    margin-top: 30px;
    }
    
    p {
    width: 80%;
    font-size: 16px;
    }
    }